html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #0c0b21;
  --secondary-color: #f8f7f4;
  --accent-color: #fce8b9;
  --accent-color-blue: #dce7e4;
  --standard-radius: 0.3rem;
}

@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircularSemiRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircularSemiMedium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Euclid;
  src: url(../fonts/EuclidCircularBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-Regular.ttf);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}
i {
  font-family: "Source Serif 4", serif;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 1000;
}

h1 {
  font-size: 5rem;
  line-height: 0.8;
  margin: 0;
  padding: 0.4rem;
  width: fit-content;
}

h2 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 0;
  padding: 0.4rem;
  width: fit-content;
  font-weight: 600;
}

h3 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 0;
  padding: 0.4rem;
  width: fit-content;
  font-weight: 600;
}

p {
  font-family: "Euclid", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
}

p.slanted {
  font-family: "Source Serif 4", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-optical-sizing: auto;
}

p.indented {
  margin-left: 150px;
}

body {
  font-family: "euclid", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.yellow-box {
  background-color: var(--accent-color);
  border-radius: var(--standard-radius);
  color: var(--primary-color);
}

.white-box {
  background-color: var(--secondary-color);
  border-radius: var(--standard-radius);
  color: var(--primary-color);
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.wider-content-wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.title-gallery {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title-gallery img {
  border-radius: var(--standard-radius);
}

.title-text {
  position: relative;
}

.title-text h1,
.title-text p {
  position: relative;
  z-index: 10;
}

.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.header-text h1,
.header-text p {
  color: var(--secondary-color);
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.5));
}
.title-text h1 {
  display: inline-block;
  font-size: 3rem;
}
.title-text h1.yellow-box {
  color: var(--primary-color);
}
.background-image {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 0;
  width: 230px;
}

.image-large {
  width: 60%;
  border-radius: var(--standard-radius);
}
.image-small {
  width: 30%;
  border-radius: var(--standard-radius);
}

.one-column {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.two-column,
.two-column-force {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
  /* center grid items vertically */
  align-items: center;
}

.two-column-3rds {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  /* center grid items vertically */
  align-items: center;
}

.nav-wrapper {
  position: fixed;
  top: 53px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

nav {
  max-width: 1000px;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 200px;
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  border: #ededed 0px solid;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

nav:hover {
  transform: scale(1.01);
  transition: all 0.3s;
  border: #bdbdbd 0.01px solid;
}

nav img {
  width: 35px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
}

nav a:hover {
  text-decoration: none;
}

a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav-mobile-wrapper {
  overflow: hidden;
  padding-bottom: 40px;
  transform: translateY(35px);
}

.nav-mobile {
  transition: all 0.3s;
  background-color: #fff;
  padding: 15px 10px 50px 10px;
  margin: 0 30px;
  transform: translateY(40px);
  z-index: 0;
  border-radius: 30px;
}

.nav-mobile.closed {
  transform: translateY(400px);
  opacity: 0;
}

.nav-mobile-wrapper:has(.nav-mobile.closed) {
  display: none;
}

.nav-mobile-item {
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 10px;
  text-align: center;
}

.nav-mobile-item:hover {
  transform: scale(1.01);
}

.button-hover {
  background-color: var(--secondary-color);

  cursor: pointer;
  transition: all 0.3s;
}

.button-hover:hover {
  background-color: #ededed;
  transform: scale(1.04);
  /* blend in the color with an animation */
  transition: all 0.3s;
  border: var(--primary-color) 0.9px solid;
}

.screen-hight {
  padding: 50px 0;
  min-height: 65vh;
}
.height-margin {
  padding: 40px 0;
}

.top-distance {
  margin-top: 150px;
}

.cart {
  width: 20px;
}

section.white {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: -5px 0;
}

section.full-white {
  background-color: #fff;
  color: var(--primary-color);
  margin: 0;
}

section.yellow {
  background-color: var(--accent-color);
  color: var(--primary-color);
  margin: -5px 0;
}

section.blue {
  background-color: var(--accent-color-blue);
  color: var(--primary-color);
  margin: -5px 0;
}

section.black {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: px 0;
}

.coverimage {
  width: 100%;
}

header {
  position: relative;
}

.height-maximizer {
  max-height: 650px;
  overflow: hidden;
  margin-bottom: 100px;

  position: relative;
}

.white-fade-box {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), var(--secondary-color));
}
.overlay {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.no-pointer {
  pointer-events: none;
}

.bottom-section-image {
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 300px;
}

.bottom-section-image-right {
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 200px;
}

.middle-section-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
}

.top-section-image {
  position: absolute;
  bottom: -200px;
  right: 200px;
  width: 150px;
}

/* Hand wave Animation */

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(14deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

.sticky-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
}

.image-hover {
  transition: all 0.3s;
}

.image-hover:after {
  content: "Home";
  position: absolute;
  bottom: -20px;
  transform: translateX(-45%) scale(0.7);
  /* center horizontally */
  left: 50%;
  transition: all 0.3s ease;
  opacity: 0;
}

.image-hover:hover:after {
  transform: translateY(-15px) translateX(-45%) scale(0.9);
  opacity: 1;
}

.image-hover:hover {
  transform: translateY(-10px) scale(0.9);
  transition: all 0.3s;
}

.vertical-distance {
  margin-top: 100px;
  margin-bottom: 100px;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  font-family: "Euclid", sans-serif;
  font-weight: 500;
  font-size: large;
  font-optical-sizing: auto;
  color: var(--primary-color);
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"] {
  padding: 1rem;
  border-radius: var(--standard-radius);
  border: 1px solid var(--primary-color);
  font-family: "euclid", sans-serif;
  /* remove border */
  outline: none;
  border: none;
  margin-bottom: 25px;
}

textarea {
  width: 100%;
  padding: 1rem;
  border-radius: var(--standard-radius);
  border: 1px solid var(--primary-color);
  font-family: "euclid", sans-serif;
  /* remove border */
  outline: none;
  border: none;
  margin-bottom: 10px;
}

/* Yellow button */

button {
  padding: 1rem 3rem;
  border-radius: var(--standard-radius);
  border: var(--primary-color) 1px solid;
  font-family: "euclid", sans-serif;
  font-weight: 500;
  font-size: medium;
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
  width: fit-content;
  margin-bottom: 10px;
}

/* black Button */

button.black {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

button.black:hover {
  background-color: #e9e9e9;
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

footer {
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div img {
  width: 150px;
}

footer div a {
  color: #ededed;
  text-decoration: none;
}
footer div :nth-child(1),
footer div :nth-child(3) {
  flex-basis: 50%;
}

footer div :nth-child(3) {
  text-align: right;
}

.image-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: row;
  margin: 100px 0;
  grid-column: span 2;
}

.image-row img {
  border-radius: var(--standard-radius);
  width: 23%;
}

.ec-cart-widget {
  width: 10px;
}
.ec-cart-widget div {
  pointer-events: none;
}

.ec-cart-widget {
  transition: all 0.3s;
  transform: scale(0.8);
}

.ec-cart-widget:hover {
  transform: scale(0.85);
  transform-origin: right;

  filter: hue-rotate(-10deg) brightness(0.9);

  transition: all 0.3s;
}

.blue-frame {
  background-color: var(--accent-color-blue);
  border-radius: var(--standard-radius);
  padding: 50px 40px;
}

.dark-blue-frame {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--standard-radius);
  padding: 50px 40px;
}

.yellow-frame {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: var(--standard-radius);
  padding: 50px 40px;
}

.overlay-frame {
  box-sizing: border-box;
  transform: translateY(-50px);
  width: 90%;
  margin: -50px auto;
}

/* .yellow-frame h2 {
  font-size: 35px;
} */

.title-split h2 {
  display: inline-block;
}
.header-text .title-split {
  margin: 0 10px;
}
.video-teaser-frame {
  display: grid;
  width: 100%;
  height: 75vh;
  border-radius: var(--standard-radius);
  position: relative;
  overflow: hidden;
}

.video-teaser-frame video {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.video-teaser-frame img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.full-width {
  width: 100%; /* Set width to fill the container */
  height: 150px; /* Set your desired height */
  resize: none; /* Disable resizing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.payment-icons {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 1rem;
  /* wrap to next row */
  flex-wrap: wrap;
  /* align right */
  justify-content: flex-end;
}

.payment-icons svg {
  width: 25px;

  fill: var(--primary-color);
}

.author {
  font-size: 0.8rem;
  color: var(--primary-color);
  margin: 20px 0;
}

/* Menu Icon */

.hamburger {
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

:root {
  --bar-bg: #212529;
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;

  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

.nav-small {
  pointer-events: none;
  opacity: 0;
}

.nav-small-remove {
  display: none;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
} /*# sourceMappingURL=menu_icon.css.map */

/* Media queires to reorder content after window size is smaller than 820px */

@media (max-width: 1020px) {
  nav {
    width: 90vw;
  }
  .wider-content-wrapper {
    max-width: 800px;
  }
}

@media (max-width: 870px) {
  .content-wrapper,
  .wider-content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  nav a {
    padding: 1rem 1rem;
  }
  .ec-cart-widget {
    transform: scale(0.8) translateX(-20px);
  }
  .ec-cart-widget:hover {
    transform: scale(0.9) translateX(-20px);
  }
}

@media (max-width: 750px) {
  .two-column {
    grid-template-columns: 1fr;
  }
  .two-column-3rds {
    grid-template-columns: 1fr;
  }
  .image-row {
    grid-column: span 1;
  }
  .image-row :nth-child(1),
  .image-row :nth-child(2) {
    width: 45%;
  }
  .image-row :nth-child(3),
  .image-row :nth-child(4) {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-wide {
    display: none;
  }
  .nav-small {
    pointer-events: all;
    opacity: 1;
  }
  .nav-small-remove {
    display: block;
  }
  nav a {
    padding: 0.4rem 0.5rem;
  }
  nav img {
    width: 30px;
  }
  .nav-wrapper {
    top: auto;
    bottom: 40px;
  }
  .top-distance {
    margin-top: 60px;
  }
  .sticky-banner {
    font-size: small;
  }
  nav {
    padding: 10px 0;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.5);
  }

  footer div img {
    width: 30px;
    content: url(../img/logo_white.png);
  }
  footer {
    padding-bottom: 150px;
  }

  .blue-frame,
  .dark-blue-frame {
    padding: 20px 20px;
  }
  .content-wrapper,
  .wider-content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Media query checking if the device has touch */
@media (hover: none) {
  .image-hover:after {
    display: none;
  }
  .image-hover:hover {
    transform: translateY(0px) scale(1);
  }
}
